{% load static %}<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#008c8c">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="theme-color" content="#ffffff">
    {% block head %}
    <link rel="stylesheet" href="{% static 'animesuki.css' %}?20200715">
    {% endblock %}
    <title>{% block head_title %}AnimeSuki{% endblock head_title %}</title>
    {% block meta %}{% endblock meta %}
</head>
<body>

{% block javascript %}
<script src="{% static 'js/jquery.min.js' %}?v3.5.1"></script>
<script src="{% static 'js/popper.min.js' %}?v1.16.1"></script>
<script src="{% static 'js/bootstrap.min.js' %}?v4.5.0"></script>
{% endblock javascript %}

</body>
</html>