{% extends "base.html" %}

{% block content %}
    <h1>Welcome to AnimeSuki</h1>
    <p>
        After many years it is finally time to breathe new life into AnimeSuki.
        What you see before you may look familiar, but isn’t the same site you used to know.
        AnimeSuki is now reborn as an anime, manga, light novel &amp; game database.
        It is not like there aren’t enough of such sites out there already,
        but AnimeSuki will strive to provide something new and different that can’t be found elsewhere.
    </p>
    <p>
        As effectively a new site there is still a ton of work to be done,
        so pardon the mess while the database is being fleshed out and features are being added.
    </p>
{% endblock content %}
